<footer class="bg-light text-center text-lg-start">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!">Giới thiệu về công ty</a>
          </li>
          <li>
            <a href="#!">Chính sách bảo mật</a>
          </li>
          <li>
            <a href="#!">Quy chế hoạt động</a>
          </li>
          <li>
            <a href="#!">Kiểm tra hóa đơn điện tử</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <ul class="list-unstyled">
          <li>
            <a href="#!">Tin tuyển dụng</a>
          </li>
          <li>
            <a href="#!">Tin khuyến mãi</a>
          </li>
          <li>
            <a href="#!">Hướng dẫn mua online</a>
          </li>
          <li>
            <a href="#!">Hướng dẫn mua trả góp</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <ul class="list-unstyled mb-0">
          <li>
            <a href="#!">Hệ thống cửa hàng</a>
          </li>
          <li>
            <a href="#!">Chính sách đổi trả</a>
          </li>
          <li>
            <a href="#!">Hệ thống bảo hành</a>
          </li>
          <li>
            <a href="#!">Giới thiệu máy đổi trả</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <ul class="list-unstyled">
          <li>
            <span>Tư vấn mua hàng</span>
            <a href="#!" class="text-danger">1800 6601</a>
          </li>
          <li>
            <span>Góp ý,khiếu nại</span>
            <a href="#!" class="text-danger">1800 6616</a>
          </li>
          <li>
            <a href="#!" class="text-dark">Hỗ trợ thanh toán</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
