<div class="container-fluid mt-5 pt-5 ">
  <footer class="ml-xl-5 ml-md-4 ml-3 ">
    <div class="row justify-content-end">
      <div class=" col-12">
        <div class="row pt-2">
          <div class="col-xl-4 col-12 mr-auto">
            <div class="media flex-sm-row flex-column "> <img class="align-self-center img-fluid mobile-img " src="https://i.imgur.com/unD7BGU.png">
              <div class="media-body">
                <h4 class="mb-4 bonify">C<span><i class="fa fa-firefox text-light" aria-hidden="true"></i></span>822G1</h4>
                <img src="https://firebasestorage.googleapis.com/v0/b/c0822g1-mobile-shop-d949d.appspot.com/o/Thi%E1%BA%BFt%20k%E1%BA%BF%20ch%C6%B0a%20c%C3%B3%20t%C3%AAn.png?alt=media&token=07d45ac3-ddd9-4d3f-a2ab-1498a059e886" class="img-fluid logo">
              </div>
            </div>
          </div>
          <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 my-auto ">
            <div class="row justify-content-around">
              <div class="col-md-3 col-12 mt-md-0 mt-3">
                <ul class="list-unstyled text-muted">
                  <li><a>Giới thiệu về công ty</a></li>
                  <li><a>Chính sách bảo mật</a></li>
                  <li><a>Quy chế hoạt động</a></li>
                  <li><a>Kiểm tra hóa đơn điện tử</a></li>
                  <li><a>Tra cứu thông tin bảo hành</a></li>
                  <li><a>Câu hỏi thường gặp mua hàng</a></li>
                </ul>
              </div>
              <div class="col-md-3 col-12 mt-md-0 mt-3">
                <ul class="list-unstyled text-muted">
                  <li><a>Tin tuyển dụng</a></li>
                  <li><a>Tin khuyến mãi</a></li>
                  <li><a>Hướng dẫn mua online</a></li>
                  <li><a>Hướng dẫn mua trả góp</a></li>
                  <li><a>Chính sách trả góp</a></li>
                </ul>
              </div>
              <div class="col-md-auto col-12">
                <ul class="list-unstyled text-muted">
                  <li>Tư vấn mua hàng (Miễn phí)</li>
                  <li><a><span style="color: red">1800 6601</span></a></li>
                  <li>Góp ý, khiếu nại (8h00 - 22h00)</li>
                  <li><a><span style="color: red;" >1800 6616</span></a></li>
                  <li>Hỗ trợ thanh toán:</li>
                  <li><img src="https://firebasestorage.googleapis.com/v0/b/c0822g1-mobile-shop-d949d.appspot.com/o/ho%20tro%20thanh%20toan.PNG?alt=media&token=c70032a8-c5f0-40a1-a67f-3a9011ee772d"></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-4 bottom-row justify-content-between">
          <div class="col-sm-auto mr-sm-4 my-auto pt-sm-0 pt-3 ">
            <p><span><i class="fa fa-instagram" aria-hidden="true"></i></span> <span><i class="fa fa-twitter" aria-hidden="true"></i></span> <span><i class="fa fa-facebook" aria-hidden="true"></i></span> <span><i class="fa fa-linkedin" aria-hidden="true"></i></span> </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
