* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

/*body {*/
/*  background-size: cover;*/
/*  height: 100vh;*/
/*  background-position: center;*/
/*}*/

header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99;
  box-shadow: 0 0 10px yellowgreen;
  background-color: orange;
}

#chk1 {
  display: none;
}

i {
  color: #fff;
  cursor: pointer;
}

header img {
  height: 100px;
  width: 100px;
}

header .logo {
  flex: 1;
  color: #fff;
  text-transform: uppercase;
  margin-left: 10px;
  display: flex;
}

header .search-box {
  flex: 1;
  position: relative;
}

.search-box {
  flex: 1;
  position: relative;
}

.search-box input {
  height: 40px;
  border: none;
  outline: none;
  background: #f2f2f2;
  border-radius: 30px;
  color: gray;
  font-size: 18px;
  text-align: left;
  padding-left: 5px;
  padding-right: 40px;
  color: black;
  font-weight: 300;
  width: 400px;
  margin-left: 10px;
}

.search-box button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  transform: scale(0.9);
  background: orange;
}

header ul {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
}

header ul li {
  list-style: none;
  padding: 10px 5px;
}

header ul li:hover {
  background-color: white;
}

header ul li a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}

header ul li a:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

header .menu {
  font-size: 2.5em;
  display: none;
  margin-right: 10px;
}

header img:hover {
  cursor: pointer;
}

div.dropdown-row > a.dropdown-item {
  display: inline-block;
  width: 32%;
  padding: 50px;
  vertical-align: top;
}

.iconm {
  color: black;
  height: 25px;
  width: 25px;
}

/*--------------------------------------------------------------*/
.nut_dropdown {
  color: black;
  font-size: 16px;
  border: none;
}

.nut_dropdown:hover {
  padding-bottom: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Nội dung Dropdown */
.noidung_dropdown {
  top: 30px;
  left: -5px;
  display: none;
  position: absolute;
  background-color: white;
  width: 600px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Thiết kế style cho các đường dẫn tronng Dropdown */
.noidung_dropdown a {
  color: black;
  text-decoration: none;
}

/* thay đổi màu background khi hover vào đường dẫn */
.noidung_dropdown a:hover {
  background-color: #ddd;
}

/* hiển thị nội dung dropdown khi hover */
.dropdown:hover .noidung_dropdown {
  display: block;
}

/* Thay đổi màu background cho nút khi được hover */
.dropdown:hover .nut_dropdown {
  background: white;
}

/*Dùng Để hiển thị nội dung*/
.hienThi {
  display: inline-block;
}

header ul li div a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 15px;
}

/*-------------------------------------------  */
@media (max-width: 1024px) {
  .search-box {
    position: absolute;
  }

  header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  header ul {
    position: fixed;
    top: 100px;
    left: -100%;
    background: orange;
    width: 40%;
    height: 400px;
    flex-direction: column;
    transition: 0.5s ease-in-out;
  }

  header .menu {
    display: block;
    width: 70px;
    text-align: center;
  }

  header .menu label svg:hover {
    cursor: pointer;
  }

  #chk1:checked ~ ul {
    left: 0;
    transition: 0.5s ease-in-out;
  }

  header ul li {
    padding: 20px 0;
    margin: 0;
  }

  .search-box input {
    height: 60px;
    border: none;
    outline: none;
    background: #f2f2f2;
    border-radius: 30px;
    color: gray;
    font-size: 30px;
    text-align: left;
    padding-left: 5px;
    padding-right: 0px;
    color: black;
    font-weight: 400;
    width: 500px;
    margin-left: 10px;
  }

  .search-box button {
    width: 60px;
    height: 60px;
    right: 150px;
  }
}

@media (max-width: 800px) {
  header {
    height: 150px;
  }

  header ul {
    top: 150px;
  }

  header .logo {
    font-size: 10px;
    margin-left: 8px;
  }

  header ul {
    width: 70%;
  }

  .logo h1 {
    font-size: 45px;
  }

  a {
    font-size: 30px;
  }

  .search-box input {
    display: block;
  }

}

@media (max-width: 400px) {
  header {
    height: 200px;
  }

  header ul {
    top: 200px;
  }

  header ul {
    position: fixed;
    top: 200px;
    background: orange;
    width: 100%;
    height: 600px;
    flex-direction: column;
    transition: right 0.5s linear;
  }

  .noidung_dropdown {
    width: 1000px;
    height: 500px;
  }

  .search-box button {
    width: 60px;
    height: 60px;
    right: 100px;
  }

  a {
    font-size: 40px;
  }
}
