<h1 class="text-center" style="margin-top: 50px">Danh sách hàng hóa</h1>
<form style="float: right;margin-right: 10px;margin-bottom: 30px">
  <label style="margin-right: 5px">
    <select class="form-select" aria-label="Default select example">
      <option selected>Tìm kiếm theo</option>
      <option value="1">Tên hàng hoá</option>
      <option value="2">Giá</option>
      <option value="3">Số lượng</option>
    </select>
  </label>
  <input class="form-control me-2" style="width: 300px;display: inline;margin-right: 5px" type="search" placeholder="Tìm kiếm" aria-label="Search">
  <button class="btn btn-outline-primary " style="width: 100px;margin-bottom: 5px" type="submit">Tìm kiếm</button>
</form>
<div style="height: 300px">

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên</th>
      <th scope="col">Giá</th>
      <th scope="col">CPU</th>
      <th scope="col">Lưu trữ</th>
      <th scope="col">Số lượng còn</th>
    </tr>
    </thead>
    <tbody>
    <tr [class.choose]="x.id == index" (click)="choice(x.id,x.name)" style="cursor: pointer"  *ngFor="let x of commodity['content'], index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{x.name}}</td>
      <td>{{x.price}}</td>
      <td>{{x.cpu}}</td>
      <td>{{x.capacity}}</td>
      <td>{{x.quantity}}</td>
    </tr>

    </tbody>
  </table>
</div>
<button class="btn btn-outline-primary" style="margin-left: 20px; margin-top: 10px">Thêm mới</button>
<button class="btn btn-outline-primary disabled1" [disabled]="index == -1"  id="edit1">Chỉnh sửa</button>


<button type="button" class="btn btn-outline-danger disabled1" [disabled]="index == -1" data-bs-toggle="modal" id="delete"  data-bs-target="#staticBackdrop">
  Xóa
</button>

<nav aria-label="Page navigation example" style="float: right;margin-right: 10px; margin-top: 10px">
  <ul class="pagination">
    <li class="page-item"><button class="page-link" (click)="previousPage()">Trước</button></li>
    <li class="page-item"><b class="page-link">Trang {{commodity['number']+1}}</b></li>
    <li class="page-item"><button class="page-link" (click)="nextPage()">Sau</button></li>
  </ul>
</nav>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1>Xác nhận xóa hàng hóa</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có muốn xóa mặt hàng <b>{{item}}</b> không?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Không</button>
        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal"  (click)="delete(index)">Có</button>
      </div>
    </div>
  </div>
</div>
