<div class="modal fade" id="exampleModalQR" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chọn mã QR</h5>
      </div>
      <div class="modal-body text-center d-flex justify-content-around row"  style="box-sizing: border-box">

        <div class="modal-body text-center d-flex justify-content-around row" style="box-sizing: border-box">
          <qr-code *ngFor="let qr of qrInfo; let index = index" [value]="qr" [ngClass]="{'selected': selectedQR === index}" (click)="selectQR(index)" class="btn col-md-3 m-1"></qr-code>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" (click)="findByQRCode()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

