<section class="vh-120 gradient-custom">
  <div class=" container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-8">
        <div class="card rounded-3">
          <div class="card-body p-4 p-md-4">
            <h1 style="text-align: center; font-weight: bold"> Nhập Kho </h1>
            <br>
              <div class=" text-center">
                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                  Chọn sản phẩm
                </button>
                <button type="reset" class="btn btn-outline-secondary m-4 w-25" data-toggle="modal"
                        data-target="#exampleModalQR">Quét Mã QR
                </button>
              </div>
              <div class="row align-items-center pt-3 pb-2">
                <div class="col-md-4 ps-3">

                  <label style="font-weight: bold" class="mb-0">Tên Hàng<sup
                    style="color: red; font-size: 15px">*</sup></label>
                </div>
                <div class="col-md-8 pe-4" *ngIf="commodityQR">
                  <input
                    [value]="commodityQR.name" readonly placeholder="Ex: Tên hàng"
                    class="form-control form-control-md"/>
                </div>
              </div>
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-4 ps-3">
                  <label style="font-weight: bold" class="mb-0">Giá<sup
                    style="color: red; font-size: 15px">*</sup></label>
                </div>
                <div class="col-md-8 pe-4" *ngIf="commodityQR">
                  <input
                    [value]="commodityQR.price" readonly placeholder="Ex: Giá"
                    class="form-control form-control-md"/>
                </div>
              </div>
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-4 ps-3">
                  <label style="font-weight: bold" class="mb-0">Hình ảnh<sup
                    style="color: red; font-size: 15px">*</sup></label>
                </div>
                <div class="col-md-8 pe-4" *ngIf="commodityQR">
                  <img style="height: 90px;width: 90px" src="{{commodityQR.image}}">
                </div>
              </div>
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-4 ps-3">

                  <label style="font-weight: bold" for="phone-number" class="mb-0">Số lượng<sup
                    style="color: red; font-size: 15px">*</sup></label>
                </div>
                <div class="col-md-8 pe-4">
                  <form [formGroup]="form">
                  <input type="number" id="phone-number" #quantity formControlName="quantity" name="phone-number"
                         class="form-control form-control-md"/>
                  <span style="color: red" *ngIf="form.controls.quantity.hasError('required') && form.controls.quantity.touched">Không được để trống</span>
                  <span style="color: red" *ngIf="form.controls.quantity.hasError('min') && form.controls.quantity.touched">Không được bé hơn 0</span>
                  </form>
                </div>
              </div>
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-4 ps-3">
                  <label style="font-weight: bold">Nhà Cung Cấp</label>
                </div>
                <div class="row col-md-8 pe-4">
                  <div style="display: inline-flex" class="input-group mb-3">

                    <input style="margin-left: 12px" type="text" [value]="suppliers.name" #supplierss readonly class="form-control w-50"
                           id="exampleDatepicker4 "/>
                    <button style="margin-left: 10px" type="button" class="btn btn-outline-primary" data-toggle="modal"
                            data-target="#exampleModal1">Tìm Nhà Cung Cấp
                    </button>
                  </div>
                </div>
              </div>
              <div class=" text-center">
                <button type="submit" class="btn btn-outline-primary m-4 w-25"
                        (click)="save(commodityQR.id, +quantity.value)" [disabled]="commodityQR==null || supplierss.value == '' || !form.valid">Lưu
                </button>
                <button type="reset" class="btn btn-outline-secondary m-4 w-25" [routerLink]="['/home']">Hủy</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="text-center" id="exampleModalLabel1">Tìm Nhà Cung Cấp</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"> <img src="https://img.icons8.com/color/48/null/close-window.png"/> </span>
        </button>
      </div>
      <div class="modal-body">
        <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
            <a style="font-weight: bold" class="navbar-brand" >Tìm Kiếm Theo</a>
            <select class="form-select m-4 w-25" aria-label="Default select example">
              <option>Nhà cung cấp</option>
              <option>Tên nhà cung cấp</option>
              <option>Địa chỉ</option>
              <option>Email</option>
            </select>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <input class="form-control me-2" type="search" #nameSearch placeholder="Tìm Kiếm"
                     aria-label="Search">
              <div class="col-md-4 ps-3">
                <button class="btn btn-outline-primary" style="width: 100px" (click)="search(nameSearch.value,0)">Tìm
                  Kiếm
                </button>
              </div>
            </div>
          </div>
        </nav>
        <br>
        <br>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Tên Nhà Cung Cấp</th>
            <th scope="col">Địa Chỉ</th>
            <th scope="col">Số Điện Thoại</th>
            <th scope="col">Email</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of findSupplier['content']; index as i"
              [class.table-active]="x.id == supplier" (click)="suppliers = x" data-dismiss="modal">
            <td>{{i + 1}}</td>
            <td>{{x.name}}</td>
            <td>{{x.address}}</td>
            <td>{{x.email}}</td>
            <td>{{x.phoneNumber}}</td>
          </tr>
          </tbody>
        </table>


        <nav aria-label="Page navigation example" style="float: right;margin-right: 10px; margin-top: 10px">
          <ul class="pagination">
            <li class="page-item"><button class="page-link" (click)="previousPage()">Trước</button></li>
            <li class="page-item"><b class="page-link">Trang {{findSupplier['number']+1}}</b></li>
            <li class="page-item"><button class="page-link" (click)="nextPage()">Sau</button></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>


<app-scan-qr-code (commodities)="handleQrCodeResult($event)"></app-scan-qr-code>
<app-commodity-select (commodities1)="handleQrCodeResult($event)"></app-commodity-select>
